@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

@import "media"


.main_color_bg
    background-color: $colorYellow

.logo_container
    float: left
    padding-top: 5px
   
svg
    height: 90px

    

.top_centered
    display: table-cell
    text-align: center
    vertical-align: middle


.main-head
    h1
        color: $mainBlueColor
        text-transform: uppercase
        font-size: 1.6em
        display: inline-block
        padding-top: 15px     
