@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

@import "media"

a
    color: #000

.main_color_bg
    background-color: $colorYellow
    border-bottom: 2px solid #ccc

.logo-container
    float: left
    padding-top: 27px
    
    img
        width: 90px

.name-head
    padding-top: 10px
 
.main-head
    h1
        color: $mainBlueColor
        text-transform: uppercase
        font-size: 1.6em
        display: inline-block
        padding-top: 5px
        margin: 7px 0 0 0
    h2
        margin: 0
        color: $mainBlueColor
        text-transform: uppercase
        font-size: 1.1em     

.black-head-font
    color: 000
    font-size: 1.3em
    font-weight: 600
 
    .fa
        margin-right: 10px
        color: #545652

.vert
    margin-top: 12px        
/*#808080*/
.head-cart
        a
            vertical-align: middle
            text-decoration: underline
            display: block
            margin-top: 27px

            &:hover
                color: #A6451D    
             

.fa-shopping-cart
    font-size: 1.3em

.head-adr-comp
    .p-adr
        font-size: 0.8em
        display: inline

.cart-content
    font-size: 1em
    display: inline-block
    margin: 0
    span
        font-weight: 600





